docttyp 
html
    head 
        title 
    body 
        h1 #{username} Profile\
        h2 #{username} welcome to this comunity page
        img(src="/images/cookie.png", alt="image not found")
        a(href="/logout") Logout
        